@mixin flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

@keyframes shift-margin {
    from { margin-left: 0px }
    to { margin-left: 3% }
}

$bg: rgb(44 56 81);

.main {
    @include flex;
    background-color: $bg;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    .title {
        @include flex;
        flex-direction: column;
        font-size: 8vw;
        height: 20vw;
        width: 60vw;

        h1, h2 {
            color: white;
            font-stretch: ultra-expanded;
            font-size: 10vw;
            line-height: 80%;
            margin: 0;
            padding: 0;
        }

        h2 {
            color: #aaa;
            font-size: 3vw;
        
            &:hover {
                color: red;
                font-size: 3vw;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .main {
        .title {
            height: 30vw;
            width: 80vw;

            h1, h2 {
                font-size: 15vw
            }
        }
    }
}